.container{
    width: 80%;
    /* background-color: blueviolet; */
    height: 50%;
    text-align: center;
    margin-left: 8%;
}
h3{
    font-size: 50px;
    font-weight: 400;
}
label{
    font-size: 120px;
    color: orange;
}
body{
    background-color: black;
    color: azure;
}
#lap{
    font-size: 30px;
    width: 7%;
    height: 110px;
    border-radius: 50%;
    border-style: double;
    color: aliceblue;
    border-color: rgb(234, 228, 228);
    background-color: rgba(100, 96, 96, 0.397);
}
#start{
    font-size: 30px;
    width: 7%;
    height: 110px;
    border-color: red;
    border-radius: 50%;
    border-style:inset;
    color: rgba(248, 46, 46, 0.87);
    background-color: rgba(215, 107, 107, 0.215);
    /* background-color: rgba(69, 236, 51, 0.358); */
}
.button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
}
.lapboxlaptime{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 500;
    margin-top: 0%;
}
#hrline{
    width: 46%;
    margin-left: 27%;
    /* background-color: blue; */
    margin-top: 3%;
}